<%- include ('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3><%=pergunta.titulo%></h3>
                <br>
                <h4>Descrição: </h4>
                <p><%=pergunta.descricao%></p>
                <br>
                <div class="card-footer">
                    <button class="btn btn-primary">Responder</button>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer.ejs')%>